.works {
    display: flex;
    flex-wrap: wrap;
    margin: calc(-1 * var(--indent) / 2);
}

.works__item {
    flex-basis: calc((100% - var(--indent) * var(--item)) / var(--item));
    margin: calc(var(--indent) / 2);

    transition: box-shadow var(--anim);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.works__desc {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.works__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.works__text {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.works__position {
    position: relative;
    overflow: hidden;
}