.team {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--accent-bg-color);
}

.team__title {
    margin-bottom: 50px;
}

.team__list {
    display: flex;
}